---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Home from "../components/HomeIcon.astro";
import CardWithOptions from "../components/CardWithOptions.astro";
---

<Layout title="Software Development by Kollin Murphy">
  <a href="/">
    <div class="mt-6 mb-4 btn btn-ghost btn-circle">
      <Home fill="black" width={32} height={32} />
    </div>
  </a>

  <h2 class="text-black text-6xl mb-3">Portfolio</h2>

  <div class="flex flex-col gap-3">
    <CardWithOptions
      options={[
        {
          label: "iOS",
          href: "https://apps.apple.com/us/app/mealspace/id6473123555",
        },
        {
          label: "Android",
          href: "https://play.google.com/store/apps/details?id=com.kollinmurphy.mealspace",
        },
      ]}
      title="Mealspace"
      body="The only recipe app you'll ever need. Beautifully designed to help you find and organize the recipes you love. Easy imports from your favorite sites, or even by snapping a photo from a recipe book. Built solo using Flutter."
      newTab={true}
    />
    <Card
      title="Galaga"
      body="A web-based clone of the classic arcade game Galaga built using TypeScript. Final project for game development course. Built with a team of two."
      href="/galaga"
      newTab={true}
    />
    <Card
      title="Bloons Tower Defense"
      body="Built during the 24-hour HackUSU 2023 competition. Clone of the original BTD1 game built using nothing but Typescript. Won first place in the game development category."
      href="/hackusu"
      newTab={true}
    />
    <CardWithOptions
      options={[
        {
          label: "iOS",
          href: "https://apps.apple.com/us/app/sudoku-compete/id6443859021",
        },
        {
          label: "Android",
          href: "https://play.google.com/store/apps/details?id=com.kollinmurphy.sudokucompete",
        },
      ]}
      title="Sudoku Compete"
      body="A competitive mobile game in which two players battle in realtime to complete a Sudoku puzzle built using Firebase and React Native with Expo. Built on my own as a final project for a mobile app development course."
      newTab={true}
    />
    <CardWithOptions
      options={[
        {
          label: "iOS",
          href: "https://apps.apple.com/us/app/fantastic-sudoku-variants/id1573679460",
        },
        {
          label: "Android",
          href: "https://play.google.com/store/apps/details?id=com.canlin.fantastic_sudoku_free",
        },
      ]}
      title="Fantastic Sudoku"
      body="A fun mobile game with variations on classic Sudoku with near-limitless combinations of boards built using Flutter. Built for fun with a team of two."
      newTab={true}
    />
    <Card
      title="Cashflow Companion"
      body="A web-based companion app for Rich Dad Poor Dad's board game Cashflow built using Firebase, Astro, and SolidJS. Built for fun on my own."
      href="https://cashflowkm.netlify.app"
      newTab={true}
    />
    <Card
      title="Three Body Problem Simulation"
      body="A web-based simulation of three orbiting masses in a vacuum built using vanilla JS. Built for fun with a team of two."
      href="/three_body_problem/index.html"
      newTab={true}
    />
    <Card
      title="Mazing Race"
      body="A dynamically-generated online maze game controlled by clicking and dragging the mouse built using vanilla JS. Built for fun on my own."
      href="/maze/index.html"
      newTab={true}
    />
  </div>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
